body {
	font-family: 'Lato', sans-serif;
}

#name {
	margin-top: auto;
}

#featured {
	padding-bottom: 20px;
	color: #7d97ad;
	font-size: 2.5em;
}

h1 {
	font-size: 3em;
	padding-top: 40px;
}

a {
	color: black;
}
